<!-- Ariel Traver and Jennifer Shan -->
<!-- insert.html -->

{% extends "base.html" %}

{% block main_content %}

<form method="POST" action="/insert/">
    <p><label>tt:
        <input type = "movie-tt" name = "movie-tt">
      </label>
        <label>title:
        <input type = "movie-title" name = "movie-title">
      </label>
      <label>release:
        <input type = "movie-release" name = "movie-release">
      </label></p><input type="submit" value="insert">
 </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

{% endblock %}