<!-- Ariel Traver and Jennifer Shan -->
<!-- select.html -->

{% extends "base.html" %}

{% block main_content %}

<form method="POST" action="{{url_for('select', movs = movs)}}">
    <p><label for="menu-tt">movies without release dates or directors:</label>
    <select id="menu-tt" name="menu-tt">
    <option value="none">choose one</option> 
    {% for mov in movs %}
      <option value="{{mov['tt']}}">{{mov['title']}}</option>
    {% endfor %}
    </select></p><input type="submit" value="choose">
</form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="messages">
      {% for msg in messages %}
      <p>{{msg}}</p>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

{% endblock %}